# APP

# Miscellaneous
apps/app/*.class
apps/app/*.log
apps/app/*.pyc
apps/app/*.swp
apps/app/.DS_Store
apps/app/.atom/
apps/app/.build/
apps/app/.buildlog/
apps/app/.history
apps/app/.svn/
apps/app/.swiftpm/
apps/app/migrate_working_dir/

# IntelliJ related
apps/app/*.iml
apps/app/*.ipr
apps/app/*.iws
apps/app/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line is
# commented out by default.
#.vscode/

# Flutter/Dart/Pub related
apps/app/**/doc/api/
apps/app/**/ios/Flutter/.last_build_id
apps/app/.dart_tool/
apps/app/.flutter-plugins-dependencies
apps/app/.pub-cache/
apps/app/.pub/
apps/app/build/
apps/app/coverage/

# Symbolication related
apps/app/app.*.symbols

# Obfuscation related
apps/app/app.*.map.json

# Android Studio will place build artifacts here
apps/app/android/app/debug
apps/app/android/app/profile
apps/app/android/app/release



# BACKEND

apps/backend/build/
apps/backend/dist/
apps/backend/media/
apps/backend/node_modules/
apps/backend/.DS_Store
apps/backend/.env
apps/backend/.next/
apps/backend/next-env.d.ts
apps/backend/.vercel/

# Payload default media upload directory
apps/backend/public/media/

apps/backend/public/robots.txt
apps/backend/public/sitemap*.xml

# Playwright
apps/backend/test-results/
apps/backend/playwright-report/
apps/backend/blob-report/
apps/backend/playwright/.cache/



# ALL

apps/backend/.env
node_modules/
.turbo/