# Postgres DB connection string
DATABASE_URL=postgresql://test:test@localhost:3011/test

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to format links and URLs
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CDN_URL=http://localhost:3031

# S3 bucket configuration
S3_BUCKET_NAME=dev-bucket
S3_REGION=test
S3_ENDPOINT=http://localhost:3031
S3_ACCESS_KEY_ID=test
S3_SECRET_ACCESS_KEY=test

# SMTP Server configuration
SMTP_HOST=localhost
SMTP_PORT=1025